@import "./styles/variables";
@import "./global";
@import "./styles/pages/home";
@import "./styles/pages/explore";
@import "./styles/pages/create";
@import "./styles/pages/profile";
@import "./styles/components/nftcard";
@import "./styles/components/header";
@import "./styles/components/wallet-button";
@import "./styles/components/footer";
@import "./styles/components/buttons";
@import "./styles/components/typography";
@import "./styles/components/nftcard";

body {
  font-family: $font-primary;
  background-color: $background-dark;
  color: $text-light;
}
